extends layouts/main.layout.pug

mixin article(a)
    div(class='group xl:w-[350px] lg:w-[300px] w-full bg-black rounded-xl border border-black overflow-hidden hover:shadow-lg')
        div(class='relative')
            div(class='absolute h-12 w-full bottom-0 from-black bg-gradient-to-t transition duration-300 opacity-0 group-hover:opacity-100')
            div(class='absolute top-0')
                div(class='flex bg-black rounded-xl px-2 opacity-50 group-hover:opacity-100 transition duration-500 space-x-1 items-center text-white m-2')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 11a3 3 0 11-6 0 3 3 0 016 0z')
                    div= a.city
                div(class='flex bg-black rounded-xl px-2 opacity-50 group-hover:opacity-100 transition duration-500 space-x-1 items-center text-white m-2')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
                    div= a.createdAt.toISOString().split('T')[0]
            img(class='sm:h-40 h-64 w-full object-cover' src=('/uploads/'+a.cover) alt='')
        div(class='flex justify-between items-center px-2')
            div(class='p-2')
                b(class='text-green-500') #{a.price.toLocaleString()} Dhs
                div(class='text-white flex items-center space-x-1')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4')
                    em #{a.surface} m²
            a(href=('/explorer/details/'+a.id) class='text-white mx-2 p-2 transition duration-500 hover:text-black hover:bg-white rounded-full')
                svg(xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z')


block container
    section(class='lg:mx-16 md:my-16 my-8 mx-4')
        div(class='text-center')
            h2(class='text-3xl font-bold underline my-4') Explorer les maisons sur DARI
        div(class='border border-black p-4 rounded-xl')
            button(id='IdShowFilter' class='flex justify-center space-x-2 items-center w-full')
                div
                    svg(xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z')
                div Afficher filtre
            div(class='hidden' id='IdFilter')
                div(class='mx-2 md:p-4 p-2')
                    div(class='flex md:flex-row flex-col md:space-y-0 md:space-x-2 space-y-2 items-center')
                        div(class='w-full')
                            div(class='relative z-20')
                                div(id='IdSelectCityContainer' class='hidden bottom-12 absolute overflow-auto mt-4 border border-black rounded-xl bg-white max-h-40 w-full z-20')
                                input(value='' id='IdSelectCityInput' placeholder='City' name='city' class='block border border-black rounded-xl w-full px-4 py-2' type='text')
                        div(class='w-full flex items-center space-x-1')
                            div(class='w-full')
                                select(id='IdType' class='border border-black rounded-xl w-full px-4 py-2')
                                    option(value='') type
                                    option(value='villa') villa
                                    option(value='maison') maison 
                                    option(value='appartement') appartement 
                                    option(value='studio') studio 


                        div(class='w-full text-center')
                            a(id='IdSendFilter' href='' type='submit' class='w-full text-white rounded-xl border border-black py-2 px-4 bg-black hover:text-black hover:bg-white transition duration-500') Filtrer

    section(class='lg:mx-16 md:my-16 my-8 mx-4')
        div(class='my-10')
            div(class='grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10')
                //- ARTICLES
                if articles != null
                    each a in articles
                        +article(a)
            if articles == null
                div(class='p-8 w-full text-2xl font-bold bg-black rounded-xl text-white text-center') aucun article trouvé
            div(class='mt-8 text-white my-5 flex items-center w-full space-x-10 text-center ')
                if previous != 0
                    a(href='/explorer?page='+previous+''+params class='w-full text-xl font-bold rounded-xl border border-black py-4 px-4 bg-black hover:text-black hover:bg-white transition duration-500') Précedent
                if next != currentPage
                    a(href='/explorer?page='+next+''+params class='w-full text-xl font-bold rounded-xl border border-black py-4 px-4 bg-black hover:text-black hover:bg-white transition duration-500') Suivant
block append script
    script(src='js/explorer.js')
    script.
        $('#IdSendFilter').on('click', (e) => {
            const city = $('#IdSelectCityInput').val();
            const type = $('#IdType').val();
            let url = 'http://localhost:3000/explorer?page=1'
            if (city) url+=`&city=${city}`;
            if (type) url+=`&type=${type}`;
            e.preventDefault();
            window.location = url;
            return false;
        })