extends layouts/main.layout.pug

//- COMPONENTS
mixin service(title, body)
    div(class='w-[350px] py-10 px-4 border border-black rounded-xl hover:bg-black hover:text-white duration-500 transition')
        div
            h1(class='text-2xl')= title
            p(class='my-6')= body

mixin article(a)
    div(class='group xl:w-[350px] lg:w-[300px] w-full bg-black rounded-xl border border-black overflow-hidden hover:shadow-lg')
        div(class='relative')
            div(class='absolute h-12 w-full bottom-0 from-black bg-gradient-to-t transition duration-300 opacity-0 group-hover:opacity-100')
            div(class='absolute top-0')
                div(class='flex bg-black rounded-xl px-2 opacity-50 group-hover:opacity-100 transition duration-500 space-x-1 items-center text-white m-2')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 11a3 3 0 11-6 0 3 3 0 016 0z')
                    div= a.city
                div(class='flex bg-black rounded-xl px-2 opacity-50 group-hover:opacity-100 transition duration-500 space-x-1 items-center text-white m-2')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
                    div= a.createdAt.toISOString().split('T')[0]
            img(class='sm:h-40 h-64 w-full object-cover' src='/uploads/'+a.cover alt='')
        div(class='flex justify-between items-center px-2')
            div(class='p-2')
                b(class='text-green-500') #{a.price.toLocaleString()} Dhs
                div(class='text-white flex items-center space-x-1')
                    div
                        svg(xmlns='http://www.w3.org/2000/svg' class='h-4 w-4' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4')
                    em #{a.surface} m²
            a(href=('/explorer/details/'+a.id) class='text-white mx-2 p-2 transition duration-500 hover:text-black hover:bg-white rounded-full')
                svg(xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z')

block container
    //- HERO
    section(class='mx-8 mb-5')
                div(class='relative h-[500px] w-full overflow-hidden rounded-xl shadow-md')
                    div(class='absolute top-0 h-full w-full from-black via-black bg-gradient-to-r opacity-95')
                    div(class='absolute mx-8 my-10 grid inset-y-0 items-center text-white')
                        div(class='flex flex-col space-y-4')
                            h1(class='md:text-6xl sm:text-5xl text-4xl')
                                | A chacun sa <span class='font-bold'>maison</span>.
                            h2(class='font-light md:text-xl sm:text-md text-sm mx-2')
                                p Cherchons une parfaite <span class='font-bold '>maison</span> pour vous 😉.
                    img(class='h-full w-full object-cover object-right' src='/images/house-2.jpg' alt='hero_image')
    //- SERVICES
    section(class='lg:mx-16 md:my-16 my-8 mx-4 text-center')
        div
            h2(class='text-3xl font-bold underline') voir comment DARI peut aider
        div(class='grid place-items-center grid-cols-1 gap-10 mt-8')
            +service("Acheter une maison", "DARI va vous apporter les meilleurs offres")

    //- NEW ARTICLES
    section(class='lg:mx-16 md:my-16 my-8 mx-4')
        div(class='text-center')
            h2(class='text-3xl font-bold underline') Explorer les maison de DARI
            p(class='md:text-2xl text-xl font-light my-4') Vie le moment sur DARI pour trouver la maison du rêve à <span class='font-bold'>acheter</span>.
        div(class='my-10')

        //- GRID
        div(class='grid place-items-center grid-cols-1 lg:grid-cols-3 gap-4')

            //- LOOPING FOREACH ARTICLE
            each a in articles
                +article(a)
        div(class='text-center my-5')
            a(href='/explorer?page=1' class=btn_primary) Voir plus...

    //- HOOK
    section(class="lg:mx-16 md:my-16 my-8 mx-4")
        div(class="my-16 text-center")
            h1(class="md:text-4xl sm:text-3xl text-2xl font-bold") Trouver ta maison de <span class="underline">rêve</span> pour <span class="underline">viver</span> la vie

